
analysis/meme
analysis/align
analysis/blast
analysis/deeptools/*
analysis/circleMap_Repeats
analysis/multiqc
analysis/ecc_caller/mapfile
analysis/ecc_caller/*
analysis/epi_marks/
!analysis/epi_marks/*.chromsizes
analysis/homer/*

analysis/R/circles.collapsed.*
analysis/R/eccDNA-analysis.html
analysis/R/eccDNA-analysis_cache*
analysis/R/eccDNA-analysis_files*
analysis/R/.R*
circle-map_realign*

logs/*

raw_data/*
!raw_data/.keep

refs/*
!refs/Oryza_sativa.IRGSP-1.0.dna.toplevel.fa.chromsizes
!refs/Oryza_sativa.IRGSP-1.0.dna.toplevel.fa.centromere_clones.tsv
.snakemake*
